<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      
      {% if page.nav %}
      <div class="page-navigation">
        {{ page.nav }}
      </div>
      {% else %}
<div class="page-navigation">
  <img src="/HHC_2025/images/berrydunn-logo-horizontal-inverted-rgb.svg" alt="BerryDunn Logo" width=600 Height=102>
</div>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      <div class="page-navigation">
        {{ page.nav }}
      </div>
      </footer>
    </main>
  </body>
</html>
